<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

  <display-name>A JEE 7 web application test</display-name>
  <listener>
    <listener-class>org.silverpeas.sandbox.jee7test.web.ApplicationInitializer</listener-class>
  </listener>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>org.silverpeas.sandbox.jee7test.web.mvc.GenericRequestRouter</servlet-class>
    <init-param>
      <param-name>WebComponent</param-name>
      <param-value>userWebComponent</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>BundleServlet</servlet-name>
    <servlet-class>org.silverpeas.sandbox.jee7test.web.mvc.GenericRequestRouter</servlet-class>
    <init-param>
      <param-name>WebComponent</param-name>
      <param-value>bundleWebComponent</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>UserGroupServlet</servlet-name>
    <servlet-class>org.silverpeas.sandbox.jee7test.web.mvc.GenericRequestRouter</servlet-class>
    <init-param>
      <param-name>WebComponent</param-name>
      <param-value>userGroupWebComponent</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>DocumentServlet</servlet-name>
    <servlet-class>org.silverpeas.sandbox.jee7test.web.mvc.GenericRequestRouter</servlet-class>
    <init-param>
      <param-name>WebComponent</param-name>
      <param-value>documentWebComponent</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>ComponentServlet</servlet-name>
    <servlet-class>org.silverpeas.sandbox.jee7test.web.mvc.GenericRequestRouter</servlet-class>
    <init-param>
      <param-name>WebComponent</param-name>
      <param-value>componentWebComponent</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/RUsers/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BundleServlet</servlet-name>
    <url-pattern>/RBundle/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserGroupServlet</servlet-name>
    <url-pattern>/RGroups/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DocumentServlet</servlet-name>
    <url-pattern>/RDocument/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ComponentServlet</servlet-name>
    <url-pattern>/RComponents/*</url-pattern>
  </servlet-mapping>
</web-app>
